<div class="container">
  <div class="chat-container">
    <div class="message-container" *ngFor="let message of messages">
      <div class="message" [ngClass]="{ 'user-message': message.isUser, 'bot-message': !message.isUser }">
        {{ message.content }}
      </div>
    </div>
  </div>
  <div class="input-container">
    <div class="input-wrapper">
      <input [(ngModel)]="newMessage" class="input-message" placeholder="Digite uma mensagem." (keyup.enter)="processUserMessage()" />
    </div>
    <button (click)="processUserMessage()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
      </svg>
    </button>
  </div>
</div>


